html, body {
  background-color: #0e0e10;
}

p {
  color: white;
  text-align: center;
}

.App {
  text-align: center;
}

hr {
  width: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.point-bar {
  display: flex;
  margin: 0px 15px;
}

.point-right {
  margin-left: auto;
}

.loading-container {
  display: flex;
  align-items: center;  /* centers vertically */
  justify-content: center; /* optional, centers horizontally too */
  height: 100vh;  /* or whatever height you want */
}

.loading-img {
  display: block;
  margin: auto auto;
  width: 60%;
}